.modals-about {
  font-family: "Montserrat", sans-serif;
  .about-modals {
    .common {
      .btn-modals {
        color: white;
        cursor: pointer;
        border: none;
        background: red;
        width: 30%;
        height: 40px;
        border-radius: 25px;
      }
    }
  }
}
