@import "../../main.scss";
.gallery-full {
  padding: 25px;
  .title {
    margin-bottom: 25px;
    h1 {
      font-size: 25px;
      font-family: Montserrat;
      font-weight: 500;
      color: #000;
      text-align: center;
    }
  }
  .image-one {
    margin-bottom: 25px;
    img {
      width: 100%;
    }
  }
}
