@import "../../main.scss";

.overview-full {
  padding: 25px;

  .title {
    h1 {
      font-size: 36px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      color: #333;
      @include themed() {
        color: t("whitecolor");
      }
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .overview-cnt {
    .vision,
    .mission {
      margin-bottom: 30px;

      .title {
        font-size: 24px;
        font-weight: 600;
        color: #333;
        @include themed() {
          color: t("whitecolor");
        }
        margin-bottom: 15px;
      }

      .cnt {
        font-size: 18px;
        line-height: 1.6;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        color: #555;
        @include themed() {
          color: t("whitecolor");
        }
      }
    }
  }

  .overview-image,
  .holistic,
  .Empowering,
  .focus,
  .Objectives {
    margin-top: 50px;

    .image-one {
      img {
        width: 100%;
        border-radius: 15px;
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .title {
      font-size: 28px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      color: #333;
      @include themed() {
        color: t("whitecolor");
      }
      margin-bottom: 20px;
    }

    .cnt {
      font-size: 18px;
      line-height: 1.6;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      color: #555;
      @include themed() {
        color: t("whitecolor");
      }
      margin-bottom: 20px;

      ul {
        padding-left: 20px;

        li {
          font-size: 16px;
          line-height: 1.4;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          color: #555;
          @include themed() {
            color: t("whitecolor");
          }
          margin-bottom: 10px;
          position: relative;
        }
      }
    }
  }
}
