@import "../../main.scss";
.statuatory-full {
  background-image: url("./image/jason-dent-mbv-fyxkRP8-unsplash.jpg");
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  padding: 25px;
  filter: brightness(80%);
  .title {
    text-align: center;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
  }
  .cnt {
    text-align: center;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    color: #a29f9f;
    margin-bottom: 30px;
  }
  .details,
  .districts {
    font-family: Montserrat;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    margin-bottom: 40px;
  }
  .founders {
    .title {
      font-family: Montserrat;
      font-weight: 400;
      color: #fff;
      font-size: 18px;
      text-align: left;
    }
    .name {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 15px;
      color: #fff;
      margin-top: 15px;
    }
    .location {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 15px;
      color: #fff;
    }
  }
  .co {
    .title {
      font-family: Montserrat;
      font-weight: 400;
      color: #fff;
      font-size: 18px;
      text-align: end;
    }
    .mamber {
      margin-bottom: 20px;
      .name {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 15px;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      ul {
        li {
          font-family: Montserrat;
          font-weight: 400;
          font-size: 15px;
          color: #fff;
        }
      }
    }
  }
  .co-co {
    margin-top: 40px;
    .mamber {
      margin-bottom: 20px;
      .name {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 15px;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      ul {
        li {
          font-family: Montserrat;
          font-weight: 400;
          font-size: 15px;
          color: #fff;
        }
      }
    }
  }
}
